*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
   
}
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
#contactform{
    padding: 10px;
    
}
input:focus,textarea:focus{
    outline: none;
    border-color: #4a90e2;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #357ab7;
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;  
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}


@media (max-width: 500px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    table {
        width: 100%;
    }
}

